main{
  background-color: var(--padrao);
}

:root {
  --text: #ffffff;
  --padrao: #EFEBE7;
  --verde: #406341;
  --marrom: #BC6C25;
  --afterColor: #3a4d77;
  --font: "Montserrat", sans-serif;
  --w-size: 200px;
  --w-margin: calc(-var(--w-size)/2);
  --b-size: 70%;
  --box-wrapper-width: var(--b-size);
  --box-wrapper-height: var(--b-size);
  --box-wrapper-margin: calc((100% - var(--box-wrapper-height))/2) calc((100% - var(--box-wrapper-width))/2);
}
